<title>Username Creator</title>
<h1>Type your inputs in specified areas and hit submit. Don't forget to press enter while separating elements!</h1>
Your username is {{result}}

<form action="compute" method="post">
    <div style="display: flex; flex-direction: row;">
        <div style="margin-right: 20px;">
            <label for="ArrayList">Enter an Integer ArrayList:</label><br>
            <textarea id="list" name="list" rows="10" cols="30"></textarea><br><br>
        </div>

        <div style="margin-right: 20px;">
            <label for="Array">Enter an Integer Array:</label><br>
            <textarea id="array" name="array" rows="10" cols="30"></textarea><br><br>
        </div>

        <div style="margin-right: 20px;">
            <label for="String1">Enter String 1:</label><br>
            <textarea id="string1" name="string1" rows="10" cols="30"></textarea><br><br>
        </div>

        <div>
            <label for="String2">Enter String 2:</label><br>
            <textarea id="string2" name="string2" rows="10" cols="30"></textarea><br><br>
        </div>
    </div>

    <input type="submit">
</form>
