<title>Username Creator</title>
  <h1>Enter your inputs in specified areas and hit submit.</h1>
    Your username is {{result}}


  <form action="compute" method="post">
        <textarea name="list" rows="10" cols="30"></textarea>
        <textarea name="array" rows="10" cols="30"></textarea>
	<textarea name="string1" rows="10" cols="30"></textarea>
        <textarea name="string2" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
